{% extends 'base.html' %}

{% block title %} Games {% endblock %}
{% block content %}
    <div class="startgame">
        <a href="{{url_for('startgame')}}"><button class="btn btn-success">創建新的一局</button></a>
    </div>
    {% for game in games %}
        <div class="game-info">
            <div id="gameid"><h2>{{game.gameid}}</h2></div>
            <div id="gamename"><h3>{{game.name}}</h3></div>
            <span class="badge badge-primary">created time:{{game.created_timestamp}}</span>
            <span class="badge badge-warning badge-pill">players:{{game.current_players_amount}}/{{game.players_amount}}</span>
            <br>
            <span><a href="{{ url_for('showgame', gameid=game.gameid) }}">view game</a></span>
            <span><a href="{{url_for('login', gameid=game.gameid)}}">join game</a></span>
            <span><a href="{{url_for('deletegame', gameid=game.gameid)}}" style="color:#ff0000;">delete game</a></span>
        </div>
        <hr>
    {% endfor %}
{% endblock %}