{% extends 'base.html' %}

{% block title %} Games {% endblock %}
{% block content %}
    {% for game in games %}
        <div>
            <h2>{{game.gameid}}</h2>
            <span class="badge badge-primary">created time:{{game.created_timestamp}}</span>
            <span><a href="{{ url_for('showgame', gameid=game.gameid) }}">view game</a></span>
            <span><a href="{{url_for('joingame', gameid=game.gameid)}}">join game</a></span>
        </div>
        <hr>
    {% endfor %}
{% endblock %}