{% extends 'base.html' %}

{% block title %} 捷大{% endblock %}
{% block content %}
    <img src="{{url_for('static', filename= 'img/routemap.jpg')}}" width="960" height="1286" usemap="#MRTMap">
    <map name="MRTMap">
        <area title="淡水" href="{{url_for('just_show_station',station='淡水')}}" coords="113,78,173,113" shape="rect">
        <area title="紅樹林" href="{{url_for('just_show_station',station='紅樹林')}}" coords="95,129,170,162" shape="0">
        <area title="竹圍" href="{{url_for('just_show_station',station='竹圍')}}" coords="111,177,168,212" shape="0">
        <area title="關渡" href="{{url_for('just_show_station',station='關渡')}}" coords="108,221,167,255" shape="0">
        <area title="忠義" href="{{url_for('just_show_station',station='忠義')}}" coords="163,253,198,309" shape="0">
        <area title="復興崗" href="{{url_for('just_show_station',station='復興崗')}}" coords="200,254,248,310" shape="0">
        <area title="北投" href="{{url_for('just_show_station',station='北投')}}" coords="251,252,292,310" shape="0">
        <area title="奇岩" href="{{url_for('just_show_station',station='奇岩')}}" coords="294,252,331,310" shape="0">
        <area title="唭哩岸" href="{{url_for('just_show_station',station='唭哩岸')}}" coords="333,252,382,309" shape="0">
        <area title="石牌" href="{{url_for('just_show_station',station='石牌')}}" coords="384,283,441,314" shape="0">
        <area title="明德" href="{{url_for('just_show_station',station='明德')}}" coords="384,326,441,361" shape="0">
        <area title="芝山" href="{{url_for('just_show_station',station='芝山')}}" coords="384,372,444,405" shape="0">
        <area title="士林" href="{{url_for('just_show_station',station='士林')}}" coords="384,417,443,451" shape="0">
        <area title="劍潭" href="{{url_for('just_show_station',station='劍潭')}}" coords="386,464,441,496" shape="0">
        <area title="圓山" href="{{url_for('just_show_station',station='圓山')}}" coords="385,506,450,538" shape="0">
    </map>
{% endblock %}