{% extends 'base.html' %}

{% block title %} Login {% endblock %}
{% block content %}
    <div class="title-form">Sign in E(owo /</div>
    <form method="post">
        <div class="form-group">
            <label for="player_name">Player Name</label>
            <input type="text" name="player_name" id="player_name"
                   placeholder="輸入小隊名" class="form-control" value="{{request.form['player_name']}}">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password"
                   placeholder="輸入password" class="form-control">
        </div>
        <a href="{{url_for('register',gameid=gameid)}}">don't have an account? Create one</a>
        <div class="form-group">
            <button type="submit" class="btn btn-warning">Submit!!!</button>
        </div>
    </form>
    <form method="post" action="{{url_for('join_as_spectator',gameid=gameid)}}">
        <button type="submit" class="btn btn-info">旁觀</button>
    </form>
{% endblock %}