{% extends 'base.html' %}

{% block title %} Postgresql {% endblock %}
{% block content %}
    <div class="title-form">Postgresql P(owo p</div>
    <div>
        <h5>
            available commands:
            <ul>
                <li>SELECT</li>
            </ul>
            hints:
            <ul>
                <li>可以一次執行多行(待修，因psql -c只看最後一句，考慮用psql -f)</li>
                <li>只會執行最後一句</li>
                <li>我沒排版qwq</li>
            </ul>
        </h5>
    </div>
    <hr>
    <form method="post" class="form-sql">
        <div class="form-group">
            <label for="sql-log">Logs</label><button type="button" onclick="javascript:eraseText();">Clear Log</button>
            <textarea readonly name="sql-log" id="sql-log" rows=3 cols=50 class="form-control">{{logs or request.form['sql-log']}}</textarea>
        </div>
        {% if output_in_html %}
        <div class="form-group">
            <label for="like-textarea">Logs but prettier</label>
            <div id="like-textarea" class="form-control">{{output_in_html|safe}}</div>
        </div>
        {% endif %}
        <hr>
        <div class="form-group">
            <label for="db">Choose a Postgresql Database to execute commands:</label><br>
            <select id="db" name="db" class="form-control">
                <option value="{{db_names.STATIONS_DB_NAME}}">Stations Info</option>
                <option value="{{db_names.GAMES_DB_NAME}}">Games</option>
                <option value="{{db_names.STATIONOWNED_DB_NAME}}">Stations Owned</option>
                <option value="{{db_names.PROBLEMSSOLVED_DB_NAME}}">Problems Solved</option>
            </select>
        </div>
        <div class="form-group">
            <label for="sql">Postgresql Query Editor</label>
            <textarea name="sql" id="sql" rows=3 cols=50 class="form-control">{{request.form['sql']}}</textarea>
        </div>
        <div class="form-group">
            <input type="checkbox" name="pretty-output" id="pretty-output" value="html">
            <label for="pretty-output">enable prettry output</label>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success">Execute</button>
        </div>
    </form>
    {% if auth!='admin' %}
        <a href="{{url_for('auth')}}"><button>auth</button></a>
    {% endif %}


    <script>
        function eraseText(){
            document.getElementById("sql-log").value = "";
        }
    </script>
{% endblock %}