{% extends 'base.html' %}

{% block title %} {{ station['name'] }} {% endblock %}
{% block content %}
    <div class="title">{{ station['name'] }}</div>
    <span class="badge badge-primary">等級:{{ station['grade'] }}</span>
    <span class="badge badge-warning">出口:{{ station['problems'][number-1]['exit'] }}</span>
    <span class="badge badge-warning">類別:{{ station['problems'][number-1]['type'] }}</span>
    <hr><br>
    <div class="text">
        <p>{{ station['problems'][number-1]['content'] }}</p>
    </div>
        <hr>
    <div>
        <p>答案:{{station['problems'][number-1]['answer']}}</p>
    </div>
{% endblock %}