{% extends 'base.html' %}

{% block title %} {{ station.name }} {% endblock %}
{% block content %}
    <div class="station-title">
        <div class="title">
            {{ station.name }}
        </div>

        {% for line in station.lines %}
            <img class="" src="{{url_for('static',filename=line['imgSRC'])}}">
        {% endfor %}
    </div>
    <div class="tags">
        <!--<span class="badge badge-primary">等級:{{ station.grade }}</span>
        <span class="badge badge-warning">出口:{{ station['exit'] }}</span>
        <span class="badge badge-warning">類別:{{ station['type'] }}</span>-->
        {% for tag in station.tags %}
            <span class="{{tag['class']}}">{{tag['text']}}</span>
        {% endfor %}
    </div>
    <div class="arrows">
        {# station['number']是0base #}
        {% if station['number'] < station.number_of_problems-1 %}
            <a href="{{url_for('show_station',station=station.name,number=station['number']+1)}}"><span class="badge badge-dark">--></span></a>
        {% endif %}
        {% if station['number'] > 0 %}
            <a href="{{url_for('show_station',station=station.name,number=station['number']-1)}}"><span class="badge badge-dark"><--</span></a>
        {% endif %}
    </div>
    <hr>
    <div class="text">
        <p>{{ station['content'] }}</p>
    </div>
    {% if station['type'].find('題目')!=-1 %}  <!-- if there is '題目' in the type of station's problem -->
        <hr>
        <div>
            <p>答案:{{station['answer'] }}</p>
        </div>
    {% endif %}
{% endblock %}